.plants-container {
    display: flex;
    justify-content: flex-start;
    /*justify-content: space-between;*/
    /*#space-between; означає що елементи будуть розтягнуті в рядку на всю ширину*/
}

.plants-container .card {
    width: 15%;
    margin-left: 30px;
}

.custom-menu-items {
    display: flex;
    justify-content: space-between;
}

.user {
    margin-right: 20px;
}